* {
    font-family: "Roboto";
    font-size: 10pt;    
}

QWidget {
    /*background-color: $COLOR_BACKGROUND_PRIMARY_DARK;   */
    color: $COLOR_TEXT_PRIMARY_LIGHT;

    &:disabled {
        color: $COLOR_TEXT_PRIMARY_DARK;
    };
}

QFrame {
    background-color: $COLOR_BACKGROUND_PRIMARY_MID;
}

QPushButton {
    margin: 1px;
    border: none;
    padding: 3px 9px 3px 9px;
    min-height: 22px;
    max-height: 22px;
    border-radius: 2px;
    background-color: $COLOR_BUTTON;
    color: $COLOR_BUTTON_TEXT;

    &:hover {
        background-color: lighten($COLOR_BUTTON, 10%);
    };

    &:pressed {
        background-color: darken($COLOR_BUTTON, 10%);
    };
}

QPushButton[qtechui_style~="highlight"] {
    background-color: $COLOR_BUTTON_HIGHLIGHT;

    &:hover {
        background-color: lighten($COLOR_BUTTON_HIGHLIGHT, 10%);
    };

    &:pressed {
        background-color: darken($COLOR_BUTTON_HIGHLIGHT, 10%);
    };
}

QPushButton[qtechui_style~="error"] {
    background-color: $COLOR_BUTTON_ERROR;

    &:hover {
        background-color: lighten($COLOR_BUTTON_ERROR, 10%);
    };

    &:pressed {
        background-color: darken($COLOR_BUTTON_ERROR, 10%);
    };
}

QPushButton[qtechui_style~="success"] {
    background-color: $COLOR_BUTTON_SUCCESS;

    &:hover {
        background-color: lighten($COLOR_BUTTON_SUCCESS, 10%);
    };

    &:pressed {
        background-color: darken($COLOR_BUTTON_SUCCESS, 10%);
    };
}

QGroupBox {
    border-radius: 2px;
    border: 1px solid black;
    margin-top: 6px;
}

QGroupBox::title {
    subcontrol-origin: margin;
    left: 8px;
    padding: 0px 4px 0px 4px;
}